.body {
}

.logo {
  width: 163px;
  height: 61.1249999236px;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 40px 10px 40px;
  font-size: 1.5em;
  color: #162335;
  font-weight: bold;

  font-family: "Playfair Display";
}
.main-container {
  width: 100%;
  height: 300px;
}

.main-container img {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px 134px 40px;
  font-weight: bold;
  color: #e7d7d2;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  font-family: "Hammersmith One", sans-serif;
}

.main-cta {
  background-color: #162335;
  width: 50vw;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  font-family: "Hammersmith One", sans-serif;
  padding: 0px 15px;
  color: white;
  font-size: 1.1rem;
  border-radius: 4px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.main-action {
  border: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 20px;
}

.separator {
  height: 3px;
  background: #1f2937;
  /*background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );*/
}

.attribute-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to top, #f1e3d0, #ffffff 93%);
  padding: 52px 0px 50px 0px;
  font-family: "Montserrat", sans-serif;
}
.how-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  background: linear-gradient(to top, #f1e3d0, #ffffff 93%);
}
.how-works-title,
.destinations-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8em;
  font-style: italic;
  color: #d7a6b2;
  font-weight: bold;
}

.destinations-title {
  margin-bottom: 20px;
}

.first-step {
  margin-top: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.step-icon {
  width: 140px;
}

.small-icon {
  width: 80px;
  margin-top: 20px;
}

.step-title {
  font-family: "Montserrat", sans-serif;
  margin: 15px 0px;
  font-weight: bold;
}
.step-body {
  font-size: 1em;
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
}

.attr-icon {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.down {
  width: 25px;
  height: 25px;
}

.attr {
  font-weight: bold;
  color: #162335;
  font-size: 1.3em;
  display: flex;
  margin: 20px 0px 0px 40px;
  justify-content: flex-start;
  font-size: 1em;
  align-items: center;
}

.destinations-section {
  background-color: #f1e3d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}

.destination-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 10px;
}

.destination-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  margin-top: 10px;
}

.destination-img-container {
  width: 100%;
  border-radius: 3px;
  height: 400px;
}

.destination {
  margin: 20px 0px;
}
