.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 40px 40px;
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: left;
  padding: 120px 40px 240px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.main-action {
  background-color: #cf3768;
  width: 80%;
  height: 50px;
  color: white;
  border: 0;
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  padding-left: 40px;
}
